<app-useracess>
    <form [formGroup]="formularioLogin" (ngSubmit)="Logar()" class="login-form max-w-80">
        
        <!-- Título -->
        <h2 class="text-center text-2xl mb-2 font-bold text-[#3596D2] lg:mb-16 md:text-[1.5rem] lg:text-3xl">ACESSE SUA CONTA</h2>

        <img src="useracess/logo.png" alt="logo" class="w-52 h-52 p-5 ml-8 lg:hidden">

        <!-- Campo Email -->
        <div class="form-group">
            <app-text-input
                [label]="'Email'"
                [control]= "formularioLogin.get('email')"
                [type]="'text'"
                [placeholder]="'Digite seu email'"
                [name]="'email'"
                [src]="'useracess/email.png'"></app-text-input>

            <div class="error-message">
                @if (formularioLogin.get('email')?.touched) {
                    @if (formularioLogin.get('email')?.hasError('required')) {
                        <small class="text-red-500 font-semibold">{{validacoes['required']('O email')}}</small>
                    }
                    @if (formularioLogin.get('email')?.hasError('email')) {
                        <small class="text-red-500 font-semibold">{{validacoes['invalid']('email')}}</small>
                    }
                }   
                @if (formularioLogin.get('email')?.hasError('apiError')) {
                    <small class="text-red-500 font-semibold">{{formularioLogin.get('email')?.errors?.['apiError']}}</small>
                }
            </div>
        </div>

        <!-- Campo Senha -->
        <div class="form-group">
            <app-text-input
            [control]="formularioLogin.get('senha')"
            [type]="'password'"
            [placeholder]="'Digite sua senha'"
            [name]="'senha'"
            [src]="'useracess/chave.png'"
            ></app-text-input>
            <div class="error-message">
                @if (formularioLogin.get('senha')?.touched) {
                    @if (formularioLogin.get('senha')?.hasError('required')) {
                        <small class="text-red-500 font-semibold">{{validacoes['required']('O campo senha')}}</small>
                    }
                    @if(formularioLogin.get('senha')?.hasError('minlength')){
                        <small class="text-red-500 font-semibold">{{validacoes['senha']}}</small>
                    }
                }
            </div>
        </div>

        <!-- Opções Adicionais -->
        <div class="flex justify-between items-center mt-4">
            <a routerLink="" class="text-sm text-[#3596D2] hover:underline">Esqueci minha senha</a>
            <div class="flex items-center">
                <input type="checkbox" formControlName="lembrar" class="mr-2">
                <label class="text-sm text-[#3596D2] font-bold">Lembrar-me</label>
            </div>
        </div>

        <!-- Botão Login -->
        <div class="mt-6">
            <button type="submit" class="w-full py-2 bg-[#3596D2] text-white font-semibold rounded-xl hover:bg-blue-700 transition">
                Entrar
            </button>
        </div>

        <!-- Link para Cadastro -->
        <div class="mt-4 text-center">
            <p class="text-sm text-gray-700">Ainda não tem uma conta? 
                <a routerLink="/registrar" class="text-blue-600 hover:underline">Cadastre-se</a>
            </p>
        </div>

        <!-- Link para Página Inicial -->
        <div class="mt-2 text-center">
            <p class="text-sm text-gray-700">Voltar à 
                <a routerLink="/" class="text-blue-600 hover:underline">Página Inicial</a>
            </p>
        </div>

    </form>
</app-useracess>
<router-outlet/>
