<app-useracess>
    <form [formGroup]="formularioLogin" (ngSubmit)="Logar()">
        
        <!-- Título -->
        <h2>Login</h2>

        <!-- Campo Email -->
        <div>
            <label>Email</label>
            <input type="text" formControlName="email" placeholder="Digite seu email">
            <div>
                @if (formularioLogin.get('email')?.touched) {
                    @if (formularioLogin.get('email')?.hasError('required')) {
                        <small class="text-red-500 font-semibold">{{validacoes['required']('O email')}}</small>
                    }
                    @if (formularioLogin.get('email')?.hasError('email')) {
                        <small class="text-red-500 font-semibold">{{validacoes['invalid']('email')}}</small>
                    }
                }   
                @if (formularioLogin.get('email')?.hasError('apiError')) {
                    <small class="text-red-500 font-semibold">{{formularioLogin.get('email')?.errors?.['apiError']}}</small>

                }
            </div>
        </div>

        <!-- Campo Senha -->
        <div>
            <label>Senha</label>
            <input type="password" formControlName="senha" placeholder="Digite sua senha">
            <div>
                @if (formularioLogin.get('senha')?.touched) {
                    @if (formularioLogin.get('senha')?.hasError('required')) {
                        <small class="text-red-500 font-semibold">{{validacoes['required']('O campo senha')}}</small>
                    }
                    @if(formularioLogin.get('senha')?.hasError('minlength')){
                        <small class="text-red-500 font-semibold">{{validacoes['senha']}}</small>
                    }
                }
            </div>
        </div>

        <!-- Opções Adicionais -->
        <div>
            <a routerLink="">Esqueci minha senha</a>
            <div>
                <input type="checkbox" formControlName="lembrar" class="mr-2">
                <label>Lembrar-me</label>
            </div>
        </div>

        <!-- Botão Login -->
        <button type="submit">
            Entrar
        </button>

        <!-- Link para Cadastro -->
        <div>
            <p>Ainda não tem uma conta? 
                <a routerLink="/registrar">Cadastre-se</a>
            </p>
        </div>

        <!-- Link para Página Inicial -->
        <div>
            <p>Voltar à 
                <a routerLink="/">Página Inicial</a>
            </p>
        </div>
    </form>
</app-useracess>
<router-outlet/>