.input-field {
    width: 100%;
    padding: 12px 16px;
    margin-top: 8px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.input-field:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
}

.input-field::placeholder {
    color: #888;
    font-style: italic;
}

.form-group {
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

@media (min-width: 640px) {
    .sm\:grid-cols-2 {
        grid-template-columns: 1fr 1fr;
    }
}

button {
    width: 100%;
    padding: 12px;
    background-color: #3596D2;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#google-login-botton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #3596D2;
    padding: 0.5rem;
}

#google-login-botton:hover{
    background-color: #3596D2;
    color: white;
}

button:hover {
    background-color: #007bff;
    transform: translateY(-2px);
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mr-2 {
    margin-right: 0.5rem;
}

@media (min-width: 640px) {
    .sm\:grid-cols-2 {
        grid-template-columns: 1fr 1fr;
    }
}