<main class="w-full flex flex-col bg-gradient-to-r from-blue-600 via-blue-500 to-blue-600 min-h-screen">
  <div class="carousel">
    <div class="slides">
      <div class="slide" [class.active]="currentSlide === 0" [style.background-image]="'url(home/books1.jpg)'">
        <div class="slide-content">
          <h1>Bem-vindo ao EmprestaAí</h1>
          <h2>Compartilhe e descubra novos livros em nossa comunidade</h2>
          <a href="#explore" class="btn">Explorar Livros</a>
        </div>
      </div>
      <div class="slide" [class.active]="currentSlide === 1" [style.background-image]="'url(home/books2.jpg)'">
        <div class="slide-content">
          <h1>Encontre seu Próximo Livro</h1>
          <h2>Milhares de títulos disponíveis para empréstimo</h2>
          <a href="#search" class="btn">Buscar Agora</a>
        </div>
      </div>
      <div class="slide" [class.active]="currentSlide === 2" [style.background-image]="'url(home/books3.jpg)'">
        <div class="slide-content">
          <h1>Compartilhe Conhecimento</h1>
          <h2>Empreste seus livros e faça parte da nossa comunidade</h2>
          <a href="#share" class="btn">Começar a Emprestar</a>
        </div>
      </div>
      <div class="slide" [class.active]="currentSlide === 3" [style.background-image]="'url(home/books4.jpg)'">
        <div class="slide-content">
          <h1>Leitura Acessível</h1>
          <h2>Economize enquanto expande seu horizonte literário</h2>
          <a href="#join" class="btn">Junte-se a Nós</a>
        </div>
      </div>
    </div>
  </div>

  <app-navbar class="sticky top-0 w-full z-50"></app-navbar>

 <div class="flex flex-wrap items-center justify-center gap-4 p-8">

    <!-- Barra de pesquisa aprimorada -->
   <input type="text" placeholder="Pesquisar..."
       [(ngModel)]="searchTerm"
       (input)="filterLivros()"
       class="flex-1 min-w-[200px] max-w-md md:w-96 px-4 py-3 text-sm text-gray-700 bg-white border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-300 focus:outline-none" />

    <!-- Dropdown de categoria -->
    <div class="relative">
      <button type="button"
        class="flex items-center justify-between w-full md:w-auto text-blue-600 bg-white hover:bg-blue-50 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-6 py-3 text-center"
        (click)="toggleDropdown()">
        Selecionar categoria
        <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M19 9l-7 7-7-7"></path>
        </svg>
      </button>

      @if (dropdownOpen) {
        <div class="absolute z-10 mt-2 w-48 bg-white rounded-lg shadow-lg max-h-60 overflow-y-auto">
          <ul class="py-2 text-sm text-gray-700">
            @for (categoria of categorias; track categoria.id) {
              <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100"
                  (click)="selectCategory(categoria.id)">
                  {{ categoria.nomeCategoria }}
                </a>  
              </li>
            }
          </ul>
        </div>
      }
    </div>
    <!-- Botão de filtro -->
     <button
      class="flex items-center justify-between w-full md:w-auto text-blue-600 bg-white hover:bg-blue-50 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-6 py-3 text-center"
      (click)="toggleFiltro()">
     >
      Limpar filtros
     </button>

  </div>


  <div class="bg-white min-h-screen py-12 px-6 md:px-12">
    <div class="mx-auto space-y-12">
      @if (!possuiFiltroAtivo) {
        @if (isTyping) {
          <app-cards
            [livrosAnunciados]="livrosAnunciadosFiltrado"
            [tipo]="0"
            [titulo]="'Livros à venda'"
          />

          <app-cards
            [livrosAnunciados]="livrosAnunciadosFiltrado"
            [tipo]="1"
            [titulo]="'Livros para empréstimo'"
          />

          <app-cards
            [livrosAnunciados]="livrosAnunciadosFiltrado"
            [tipo]="2"
            [titulo]="'Livros para doação'"
          />
        }
        @else {
          <app-cards
            [livrosAnunciados]="livrosVenda"
            [tipo]="0"
            [titulo]="'Livros à venda'"
          />

          <app-cards
            [livrosAnunciados]="livrosEmprestimo"
            [tipo]="1"
            [titulo]="'Livros para empréstimo'"
          />

          <app-cards
            [livrosAnunciados]="livrosDoacao"
            [tipo]="2"
            [titulo]="'Livros para doação'"
          />
        }
      }
      @else {
        @if (isTyping) {
          <app-cards
            [livrosAnunciados]="livrosAnunciadosFiltrado"
            [tipo]="0"
            [titulo]="'Livros à venda'"
          />

          <app-cards
            [livrosAnunciados]="livrosAnunciadosFiltrado"
            [tipo]="1"
            [titulo]="'Livros para empréstimo'"
          />

          <app-cards
            [livrosAnunciados]="livrosAnunciadosFiltrado"
            [tipo]="2"
            [titulo]="'Livros para doação'"
          />
        }
        @else {
          <app-cards
            [livrosAnunciados]="livrosVendaFiltrado"
            [tipo]="0"
            [titulo]="'Livros à venda'"
          />

          <app-cards
            [livrosAnunciados]="livrosEmprestimoFiltrado"
            [tipo]="1"
            [titulo]="'Livros para empréstimo'"
          />

          <app-cards
            [livrosAnunciados]="livrosDoacaoFiltrado"
            [tipo]="2"
            [titulo]="'Livros para doação'"
          />
        }
      }
    </div>
</div>


  


</main>
