<div class="bg-gray-800 w-24 md:w-64 p-4 text-white h-screen shadow-lg transition-all duration-300 ease-in-out">
    <ul class="space-y-4 mt-16">
        <li>
            <div class="flex items-center justify-center md:justify-start flex-row space-x-4 p-2 hover:bg-gray-700 rounded-md transition-all duration-300 ease-in-out cursor-pointer">
                <img src="userInfo/user.png" alt="avatar" class="w-8 h-8 md:w-10 md:h-10 rounded-md">
                <a class="hidden md:block">
                    <i class="fas fa-home mr-3"></i> Perfil
                </a>
            </div>
        </li>
        <li>
            <div class="flex items-center justify-center md:justify-start flex-row space-x-4 p-2 hover:bg-gray-700 rounded-md transition-all duration-300 ease-in-out cursor-pointer">
                <img src="userInfo/Livros.png" alt="livros" class="w-8 h-8 md:w-10 md:h-10 rounded-md">
                <a class="hidden md:block p-2 hover:bg-gray-700 rounded-md transition-all duration-300 ease-in-out">
                    <i class="fas fa-home mr-3"></i> Livros
                </a>
            </div>
        </li>
        <li>
            <div class="flex items-center justify-center md:justify-start flex-row space-x-4 p-2 hover:bg-gray-700 rounded-md transition-all duration-300 ease-in-out cursor-pointer">
                <img src="userInfo/carrinho.png" alt="carrinho" class="w-8 h-8 md:w-10 md:h-10 rounded-md">
                <a class="hidden md:block p-2 hover:bg-gray-700 rounded-md transition-all duration-300 ease-in-out">
                    <i class="fas fa-user-circle mr-3"></i> Carrinho
                </a>
            </div>
        </li>
        <li>
            <div class="flex items-center justify-center md:justify-start flex-row space-x-4 p-2 hover:bg-gray-700 rounded-md transition-all duration-300 ease-in-out cursor-pointer">
                <img src="userInfo/favoritos.png" alt="favoritos" class="w-8 h-8 md:w-10 md:h-10 rounded-md">
                <a class="hidden md:block p-2 hover:bg-gray-700 rounded-md transition-all duration-300 ease-in-out">
                    <i class="fas fa-cogs mr-3"></i> Favoritos
                </a>
            </div>
        </li>
        <li>
            <div class="flex items-center justify-center md:justify-start flex-row space-x-4 p-2 hover:bg-gray-700 rounded-md transition-all duration-300 ease-in-out cursor-pointer">
                <img src="userInfo/financeiro.png" alt="financeiro" class="w-8 h-8 md:w-10 md:h-10 rounded-md">
                <a class="hidden md:block p-2 hover:bg-gray-700 rounded-md transition-all duration-300 ease-in-out">
                    <i class="fas fa-cogs mr-3"></i> Financeiro
                </a>
            </div>
        </li>
    </ul>
</div>
