<nav class="dark:bg-gray-900 bg-gradient-to-r from-gray-800 to-blue-600">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="useracess/logo.png" class="h-12" alt="Flowbite Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">EmprestaAI</span>
    </a>

    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <div class="hidden md:flex items-center space-x-4">
        @if (logado) {
          <div class="flex items-center space-x-3">
            <img
              src="userInfo/user.png"
              alt="Avatar"
              class="h-10 w-10 p-1 rounded-full border-2 border-white"
            />
            <span class="text-white font-medium">{{ nomeCliente }}</span>
            <!-- Botão Sair -->
            <button (click)="logout()"
                    class="px-3 py-1 bg-white text-blue-500 border border-blue-500 rounded-md hover:bg-blue-500 hover:text-white transition duration-300 cursor-pointer">
              Sair
            </button>
          </div>
        }
        @else {
          <a routerLink="/register"
             class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition duration-300 cursor-pointer">
            Registrar
          </a>
          <a routerLink="/login"
             class="px-4 py-2 bg-white text-blue-500 border border-blue-500 rounded-md hover:bg-blue-500 hover:text-white transition duration-300 cursor-pointer">
            Login
          </a>
        }
      </div>

      <!-- Botão hambúrguer para mobile -->
      <button data-collapse-toggle="navbar-cta"
              type="button"
              class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white hover:text-black rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
              aria-controls="navbar-cta"
              aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
    </div>

    @if (logado) {
          
    }
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
      <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0">
        @if(logado){
          <li>
          <a routerLink="/"
             routerLinkActive="bg-blue-600 px-6 py-3"
             [routerLinkActiveOptions]="{ exact: true }"
             class="block py-2 px-3 rounded-sm text-white transition-all duration-200">
            Vendas
          </a>
        </li>
        <li>
          <a
            routerLink="/perfil"
            [ngClass]="{
              'bg-blue-600 px-6 py-3': isPerfilRota(),
              'py-2 px-3': true
            }"
            class="block rounded-sm text-white transition-all duration-200"
          >
            Perfil
          </a>
        </li>
        <li>
          <a routerLink="/registraLivro"
             routerLinkActive="bg-blue-600 px-6 py-3"
             [routerLinkActiveOptions]="{ exact: true }"
             class="block py-2 px-3 rounded-sm text-white transition-all duration-200">
            Cadastrar Livro
          </a>
        </li>
        }
        <li>
          <div class="flex flex-col md:hidden w-full">
            @if (logado) {
              <div class="flex flex-col items-center space-y-2 my-2 ">
                <button
                  (click)="logout()"
                  class="px-4 py-2 bg-white text-blue-500 border border-blue-500 rounded-md hover:bg-blue-500 hover:text-white transition duration-300 cursor-pointer w-full"
                >
                  Sair
                </button>
              </div>

            }
            @else {
              <a routerLink="/register"
                 class="px-4 py-2 bg-white text-blue-500 border rounded-md border-blue-500 hover:bg-blue-500 hover:text-white transition duration-300 cursor-pointer my-2 flex items-center justify-center">
                Registrar
              </a>
              <a routerLink="/login"
                 class="px-4 py-2 bg-white text-blue-500 border border-blue-500 rounded-md hover:bg-blue-500 hover:text-white transition duration-300 cursor-pointer flex items-center justify-center">
                Login
              </a>
            }
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
