<app-user-info>
    <div class="w-full max-w-4xl mx-auto px-4 mt-6">
      <div class="flex justify-between items-center border-b border-gray-300 pb-4 w-full">
        <h1 class="text-xl font-semibold text-blue-600">Meus livros</h1>
        <div>
          <button
            type="button"
            (click)="GoToAddLivro()"
            class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded shadow-md hover:shadow-lg transition duration-200"
          >
            📖 Adicionar Livro
          </button>
        </div>
      </div>
      <hr>

      <!-- Livros -->
      <div class="flex flex-rows flex-wrap gap-4 mt-4">
        @for (item of livros; track $index) {
            <div class="max-w-xs bg-white rounded-xl shadow-md overflow-hidden p-4">
              <img class="w-full h-40 object-cover rounded-md" src="https://via.placeholder.com/150" alt="Capa do Livro">

              <h2 class="text-lg font-semibold mt-3 text-center">Nome do Livro</h2>

              <div class="mt-3">
                <select class="w-full border border-gray-300 rounded-md px-3 py-2 text-sm">
                  <option value="emprestar">Emprestar</option>
                  <option value="vender">Vender</option>
                  <option value="doar">Doar</option>
                </select>
              </div>

              <button class="mt-4 w-full bg-blue-600 text-white text-sm py-2 rounded-md hover:bg-blue-700 transition">
                Anunciar
              </button>
            </div>
        }
        @empty {
          <div class="flex flex-col mt-4 h-64">
            <p class="text-gray-500">Nenhum livro encontrado.</p>
          </div>
        }

      </div>

      <!-- Livros emprestados -->
      <div>
        @for (item of livrosEmprestados; track $index) {
          
        }
        @empty {
          <div class="flex flex-col mt-4 h-64">
            <p class="text-gray-500">Nenhum livro emprestado.</p>
          </div>
        }
      </div>
    </div>
</app-user-info>
